# Dados (apenas pastas específicas)
RecebimentoNFe/Script/XML_entrada/
RecebimentoNFe/Script/XML_saida/
RecebimentoNFe/Script/CSV_entrada/
RecebimentoNFe/Script/CSV_saida/

# Python
__pycache__/
*.pyc

# IDE
.vscode/